/*--- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*--- Global css --- */
*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    margin-left: 40px;
}
section > nav{
    margin-bottom: 25px;
}
.carousel{
    background-color: #FEEAE9;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    height: 650px;
}
button{
    padding: 14px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-outline: none;
    color: white;
    background-color: #FF418C;
}

/* Thanks for watching */
/* ##/11/2022 */